/*Colores de Marca*/
.fa-facebook {
	background:#1877f2;
} 

.fa-linkedin {
	background:#0a66c2;
}

.fa-twitter {
	background: #1da1f2;
}

.fa-instagram {
	background: #c32aa3;
}

.fa-youtube {
	background: #ff0000;
}

/*Agregar estilos adicionales a iconos*/
.redes {
	display: flex;
	align-items: center;
	justify-content: center;
}

.redes i {
	color: #fff;
	width: 40px;
	height: 40px;
    margin: 1px;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.redes a {
	text-decoration: none;
}

.redes i:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
	opacity: .9;
}